@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;500;600;700;900&family=Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {    
   font-family: 'Playfair Display', serif;
}
input {
    color: #fafafa;
}

textarea {
    color: #fafafa;
}

a {
    color: cyan;
}

/*---- Main Nav bar ---*/
nav.nav-extended {
    height: auto;    
}

nav .brand-logo {    
    padding: 5px;
    font-weight: 600;
    font-family: 'Cinzel Decorative', cursive;
    background: linear-gradient(to right, #0fd80f 20%, white 67%,  red 20%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.brand-logo {
    font-family: 'Cinzel Decorative', cursive;
    background: linear-gradient(to right, #0fd80f 20%, white 72%,  red 20%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
/*--- Side Nav for mobile view ---*/
.sidenav.right-aligned {    
    background-color: #424242;    
}

.sidenav li>a {
    color: #fafafa;
}

/*-- Flash messages --*/
.flashes h5 {
    line-height: 1;
}

.row.flashes.s12 {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.0);
   
}


/*--- Home page ---*/
#bg {
    background-image: url(https://lamexicanaapp.s3.eu-west-2.amazonaws.com/landing_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    background: rgba(0,0,0,0.3);
    justify-content: space-around;
}

.wrapper h2 {
    color: #fafafa;
}

.card-panel {
    position: absolute;
    top: 8%;
    width: 60%;
    background: rgba(0,0,0,0.5);
    border-radius: 25px;
    padding: 10px;
}

.row.card-panel.recipe-search-bar {
    top: 35%;
    padding: 25px;
}

.fa-search {
    padding: 0.5rem;
}

.searchBar {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.searchButton {
    background: rgba(0,0,0,0.9);
    border: 0;
    color: white;
    padding: 0.75rem;
    border-radius: 0;
    margin-left: 1rem;
    border-radius: 25px;
    font-family: 'Playfair Display', serif;   
}

.searchButton:hover {
    background-color: rgb(12, 180, 180);
    cursor: pointer;
}

a.allRecipes {
    color: #fafafa;
}

a.allRecipes:hover {
    color: rgb(12, 180, 180);
}

i.fas.fa-arrow-circle-right {
    margin-left: 0.5rem;
}

/*--- Recipes.html ---*/
    /*--- Filter ---*/
.filter {
    width: 30%;
    left: 35%;
    right: 35%;
}

    /*---- Recipe cards ---*/
.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: #f1ecec;
}

.card .card-image .card-title {
    background: rgba(0,0,0,0.4);
}

card .card-action {
    background-color: #f1ecec;
}

.card .card-action {
    background-color: #f1ecec;
}

.card .card-content p {    
    font-weight: 900;
}

/*--- Recipe.html ---*/
.full-recipe {
    background-color: #f1ecec;
}

.row.full-recipe {
    margin-bottom: 0;  
    padding: 20px;  
}

p.recipe-text {
    font-weight: bolder;
    font-size: 18px;
}

.return-btn {
    padding-top: 20px;   
} 

.return-btn a {    
    font-family: bolder;
    font-size: 25px;
    text-transform: capitalize;
} 

.recipe-text em {
    font-size: 20px;
}

.btn, .btn-large, .btn-small {
    background-color: #424242;
}

i.fas.fa-undo-alt {
    margin-left: 0.5rem;
}

/*-- Proile Page --*/
.collapsible-header i {
    line-height: unset;
}

/*--- Registration Page ---*/
#bg2 {
    background-image: url(https://lamexicanaapp.s3.eu-west-2.amazonaws.com/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.row {
    margin-bottom: 0px;
}

.card-panel.white.register-input-panel {
    width: 65%;
    margin-left: 20%;
    margin-right: 20%;
}

.input-field .prefix {    
    width: 0rem;
}

.col.s12.login-link {
    padding-top: 15px;
}

.btn, .btn-large, .btn-small {
    font-family: 'Playfair Display';
    background-color:#000;
}

/*-- Log In Page --*/
#bg3 {
    background-image: url(https://lamexicanaapp.s3.eu-west-2.amazonaws.com/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.row.card-panel.login-form {
    top: 15%;
    padding: 20px;
    width: 70%;
}

.col.s12.register-link {
    padding-top: 15px;
}

/*-- Add Recipe Page --*/

#bg4 {
    background-image: url(https://lamexicanaapp.s3.eu-west-2.amazonaws.com/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.row.card-panel.add-recipe {
    width: 90%;
    top: 6%;
    padding: 5px;
}

.input-field.col.s12.add-recipe-input {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.select-wrapper .caret {
    fill: rgb(255 255 255);    
}

.dropdown-content {
    background-color: rgba(0,0,0,0.9);
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: #fafafa;
    background-color: transparent;
}

/*-- Update Recipe  --*/

#bg5 {
    background-image: url(https://lamexicanaapp.s3.eu-west-2.amazonaws.com/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-position: center center;
}

.update_recipe {
    font-size: 12px !important;
    height: 2rem !important;
}

.row.card-panel.update-recipe-panel {
    width: 95%;
    top: 10%;
    padding: 4px;
}