{% extends "base.html" %}
{% block content %}

<body>
    <div id="bg4">
        <div class="wrapper">
            <div class="row card-panel add-category">
                <h5 class="center white-text">Add Category</h5>
                <!--- Add category form from materialize --->
                <form action="{{ url_for('add_category') }}" method="POST" class="s12" enctype="multipart/form-data">
                    <!-- Add Category Name -->
                    <div class="row">
                        <div class="input-field col s12 m12add-category-input">
                            <i class="fas fa-pepper-hot prefix white-text"></i>
                            <input id="category_name" name="category_name" type="text" class="validate white-text"
                                minlength="3" maxlength="15" pattern="[a-zA-Z]{3,15}" required>
                            <label for="category_name">Category Name</label>
                        </div>
                    </div>                        
                    <!--- Submit Btn --->
                    <div class="row center-align">
                        <button class="btn waves-effect waves-light col s4" type="submit">Add Category
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
{% endblock %}