{% extends "base.html" %}
{% block content %}

    <div class="row full-recipe">
        <div class="col s12">
            <h3 class="center">{{ user.username }}'s Profile</h3>
        </div>
        <div class="col s12 m6"> <img src="{{ user.profile_image }}" alt="{{ user.profile_image }}" class="responsive-img">
        </div>
        <div class="col s12 m6">
        </div>
        <div class="card-content">
            <p class="recipe-text"><em>About Me:</em> <br><br>{{ user.about }}</p><br>
            <div class="col s12 m12 center-align">
                <p class="recipe-text"><em>My Recipies:</em></p>
                <!-- Collapsible Recipe List -->
                {% for recipe in recipes %}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header left-align">                     
                            <div class="col s3">
                                 <i class="fas fa-chevron-down"></i> 
                            </div>
                            <!-- Recipe Name -->
                            <div class="col s6">  
                                 {{ recipe.recipe_name }}                                                
                            </div>
                            <!-- Update Btn -->   
                            <div class="col s3">
                                <a href="{{ url_for('update_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Update</a>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <span><em>Cateory:&nbsp; </em>{{ recipe.category_name }}</span><br>
                            <span><em>Description:&nbsp; </em>{{ recipe.recipe_description }}.</span><br><br>
                            <a class="waves-effect waves-light btn" 
                            href="{{ url_for('recipe', recipe_id=recipe._id) }}"><i class="material-icons"></i>Recipe</a></div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}