{% extends "base.html" %}
{% block content %}

    <div class="row full-recipe">
        <div class="col s12">
            <h3 class="center">{{ user.username }}'s Profile</h3>
        </div>
        <div class="col s12 m6"> <img src="{{ user.profile_image }}" alt="{{ user.profile_image }}" class="responsive-img">
        </div>
        <div class="col s12 m6">
        </div>
        <div class="card-content">
            <p class="recipe-text"><em>About Me:</em> <br><br>{{ user.about }}</p><br>
            <div class="col s12 m12 center-align">
                <p class="recipe-text"><em>My Recipies:</em></p>
                <!-- Collapsible Recipe List -->
                {% for recipe in recipes %}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header center-align"><i class="fas fa-chevron-down"></i>{{ recipe.recipe_name }}</div>
                        <div class="collapsible-body">
                            <span><em>Cateory:&nbsp; </em>{{ recipe.category_name }}</span><br>
                            <span><em>Description:&nbsp; </em>{{ recipe.recipe_description }}.</span><br><br>
                            <a class="waves-effect waves-light btn tooltipped" data-position="top" data-tooltip="See Complete Recipe"
                            href="{{ url_for('recipe', recipe_id=recipe._id) }}"><i class="material-icons"></i>Recipe</a></div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}