{% extends "base.html" %}
{% block content %}

    <div class="row full-recipe">        
        <div class="col s12">
           <h3 class="center">{{ recipe.recipe_name }}</h3> 
        </div>
        <div class="col s12 m6"> <img src="{{ recipe.recipe_image }}" 
            alt="{{ recipe.recipe_image }}">           
        </div>
        <div class="col s12 m6">            
        </div>
        <div class="card-content">
            <p class="recipe-text"><em>Ingredients:</em> <br>{{ recipe.ingredients_list }}</p><br>
            <p class="recipe-text"><em>Method:</em> <br>{{ recipe.method_step1 }}<br>
                <br>{{ recipe.method_step2 }}</p>
            <p class="recipe-text"><em>Preparation time: {{ recipe.preparation_time }}</em></p><br>
            <p class="recipe-text"><em>Created by: {{ recipe.created_by }}</em></p>
        </div>
        <div class="card-action return-btn">
            <a href="{{ url_for('get_recipes') }}">Return</a>
        </div>
    </div>
    
{% endblock %}